<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IcApi_BaseUrl" value="https://recruitment-test.investcloud.com/api/numbers/"/>
    <add key="IcApi_InitUrl" value="init/"/>
    <add key="IcApi_ValidateUrl" value="validate"/>
    </appSettings>
</configuration>
